.headerOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
    cursor: pointer;
    padding: 2px 20px;
    font-size: 10px;
}

.headerOption:hover{
    color: black;
}
.headerOption_title{
    font-size: 12px;
    font-weight: 400;
    
}
.headerOption_icon{
    object-fit: contain;
    height: 24px;
    font-size: 1px;
}