.sidebar{
    position: sticky;
    top: 80px;
    flex: 0.1;
    text-align: center;
    border-radius: 10px;
     height: fit-content;
}
.sidebar_avatar{
    margin-bottom: 10px;
}

.sidebar_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
    /* margin-top: 10px; */
}

.sidebar_top img{
    margin-bottom: -20px;
    height: 70px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sidebar_stat{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.sidebar_stat p{
    color: grey;
    font-size: 13px;
    font-weight: 600;
}

.sidebar_statNumber{
    font-weight: bold;
    color: #0000ff !important;
}

.sidebar_stats{
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid lightgrey;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.sidebar_bottom{
    text-align: center;
    padding: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
} 
.sidebar_recent{
    font-weight: 600;
    margin: 4px 8px;
}
.sidebar_recents{
    display: flex;
}
.sidebar_recentItem{
    display: flex;
    margin: 13px 3px;
    color: grey;
    font-weight: bolder;
}
.sidebar_recentItem:hover{
 color: black;
 background-color:whitesmoke ;
}

